<p-card>
  <ng-template pTemplate="content">
    <form [formGroup]="addDate" (ngSubmit)="onCalculateAge()">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="day">DAY</label>
            <input
              pInputText
              type="text"
              id="day"
              class="form-control input-small"
              placeholder="DD"
              formControlName="day"
              pKeyFilter="int"
              maxlength="2"
              min="1"
              max="31"
            />
          </div>
          <div *ngIf="f['day'].invalid && (f['day'].dirty || f['day'].touched)">
            <small class="p-error" *ngIf="f['day'].errors?.['required']">
              This Field is required.
            </small>
            <small class="p-error" *ngIf="f['day'].errors?.['min']">
              Must be a valid date
            </small>
            <small class="p-error" *ngIf="f['day'].errors?.['max']">
              Must be a valid date
            </small>
            <small class="p-error" *ngIf="f['day'].errors?.['invalidDay']">
              Must be a valid date
            </small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="month">MONTH</label>
            <input
              pInputText
              type="text"
              id="month"
              class="form-control input-small"
              placeholder="MM"
              formControlName="month"
              pKeyFilter="int"
              maxlength="2"
              min="1"
              max="12"
            />
          </div>
          <div
            *ngIf="
              f['month'].invalid && (f['month'].dirty || f['month'].touched)
            "
          >
            <small class="p-error" *ngIf="f['month'].errors?.['required']">
              This Field is required.
            </small>
            <small class="p-error" *ngIf="f['month'].errors?.['min']">
              Must be a valid month
            </small>
            <small class="p-error" *ngIf="f['month'].errors?.['max']">
              Must be a valid month
            </small>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="year">YEAR</label>
            <input
              pInputText
              type="text"
              id="year"
              class="form-control"
              placeholder="YYYY"
              formControlName="year"
              pKeyFilter="int"
              maxlength="4"
            />
          </div>
          <div
            *ngIf="f['year'].invalid && (f['year'].dirty || f['year'].touched)"
          >
            <small class="p-error" *ngIf="f['year'].errors?.['required']">
              This Field is required.
            </small>
            <small class="p-error" *ngIf="f['year'].errors?.['invalidYear']">
              Must be in the past
            </small>
          </div>
        </div>
      </div>
      <hr class="line" />
      <p-button
        pRipple
        type="submit"
        icon="pi pi-arrow-down"
        styleClass="p-button-rounded"
        onclick="onCalculateAge()"
      ></p-button>
    </form>
    <div *ngIf="ageResult">
      <div class="output">
        <span class="block">
          <span class="dash">{{ ageResult.years || "--" }} </span
          ><span class="font">years</span>
        </span>
        <span class="block">
          <span class="dash">{{ ageResult.months || "--" }} </span>

          <span class="font">months</span>
        </span>
        <span class="block">
          <span class="dash">{{ ageResult.days || "--" }} </span>
          <span class="font">days</span>
        </span>
      </div>
    </div>
  </ng-template>
</p-card>
