input {
  margin-top: 5px;
  font-family: "poppins";
  width: 120px;
  height: 55px;
}

input::placeholder {
  color: rgba(140, 140, 140, 255);
  font-family: "poppins";
  font-size: 23px;
  font-weight: bolder;
  text-align: left;
}

label {
  color: rgba(140, 140, 140, 255);
  font-size: small;
  font-weight: bold;
}

.col-md-4:not(:first-child) {
  margin-left: -50px; /* Adjust the negative margin as needed */
}
.line {
  top: 28%;
  position: absolute;
  width: 500px;
}
.output {
  top: 40%;
  position: absolute;
}
.block {
  margin-top: -30px;
  font-family: "poppins";
  display: block;
  font-size: 70px;
  font-style: italic;
  color: black;
}
.dash {
  color: rgba(134, 76, 255, 255);
}
