<p-card class="card">
  <form [formGroup]="addDate" (ngSubmit)="calculateAge()">
    <div style="display: inline-block; margin-right: 20px">
      <label for="day">DAY</label>
      <input
        pInputText
        type="text"
        id="day"
        placeholder="DD"
        minlength="1"
        maxlength="2"
        pKeyFilter="int"
        formControlName="day"
      />
    </div>
    <span
      class="error"
      style="color: red"
      *ngIf="day && day.invalid && day.touched"
      >Please enter day</span
    >
    <div style="display: inline-block; margin-right: 20px">
      <label for="month">MONTH</label>
      <input
        pInputText
        type="text"
        id="month"
        placeholder="MM"
        minlength="1"
        maxlength="2"
        pKeyFilter="int"
        formControlName="month"
      />
    </div>
    <div style="display: inline-block; margin-right: 20px">
      <label for="year">YEAR</label>
      <input
        pInputText
        type="text"
        id="year"
        placeholder="YYYY"
        minlength="4"
        maxlength="4"
        pKeyFilter="int"
        formControlName="month"
      />
    </div>
    <div class="align">
      <hr />
      <p-button
        pRipple
        type="submit"
        icon="pi pi-arrow-down"
        styleClass="p-button-rounded"
      ></p-button>
    </div>
  </form>

  <div class="margin-right">
    <span style="display: block">
      <span class="dash">--</span><span class="font">years</span>
    </span>
    <span style="margin-top: -35px; display: block">
      <span class="dash">--</span>

      <span class="font">months</span>
    </span>
    <span style="margin-top: -35px; display: block">
      <span class="dash">--</span>
      <span class="font">days</span>
    </span>
  </div>
</p-card>
