/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/primeicons/primeicons.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap");

body {
  background-color: rgba(240, 240, 240, 255);
}

.p-card {
  border-radius: 8px 8px 200px 8px;
  border-color: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  height: 500px;
  box-shadow: none;
}
.p-button {
  background-color: rgba(134, 76, 255, 255);
  border: none;
}

.p-button.p-button-icon-only.p-button-rounded {
  height: 4rem;
  width: 4rem;
  color: white;
  position: absolute;
  top: 24%; /* Position at the end of the hr line */
  right: 0;
  transform: translate(-70%, 10%);
}

.pi {
  font-size: 2rem;
}
.p-button.p-button-icon-only.p-button-rounded:hover {
  background-color: black;
}
